/* Creates CSS variables */
:root {

}

/* This is all rough putting in what I need to code- not including code for <header> attributes and such */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    /* Create a flexbox for the header w/ child elements h1 and nav */

    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: 'Apple Chancery';
    height: 20px;
}

header h1 {
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 7px;
    flex-wrap: flex;
}

header nav ul {
    display: flex;
    flex-wrap: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-weight: lighter;
}

footer {
    padding: 10px;
    float: right;
    font-family: 'Apple Chancery', sans-serif;
    font-size:10px;
    color:black;
}

/* Styles the Hero section */

/* End of Hero section styling */